.overlay{
    height: 100%;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.577);
    backdrop-filter: blur(2px);
    position: fixed;
    top:60px;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.details-modal-outer{
    width: 55vw;
    height: 89vh;
    top: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.513);
    position: fixed;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;  
}

.details-modal-inner{
    height: calc(89vh - 2vw);
    background-color: white;
    /* box-shadow:inset 1px 2px 5px 0px rgba(0, 0, 0, 0.513); */
    position:relative;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    /* border: 1px solid red; */
    overflow-y: hidden;
}
.inner-modal-contain{
    width: 53vw;

}



/* ----------------------------------------------------- */
/* ---------------------  Floating buttons -------------------------------- */


.exit-modal-button{
    border-radius: 50%;
    width:4rem;
    height: 4rem;
    border:none;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right:15vw;
    cursor:pointer;
    transition:all 0.4s;
    font-size: 4rem;
    z-index:9;
}
.exit-modal-button:hover{
    transition:all 0.4s;
    transform:scale(1.3);
}



.next-project-button{
    top: 40vh;
    position:fixed;
    right: 6vw;
    transition:all 0.4s;
}

.previous-project-button{
    top: 40vh;
    position:fixed;
    left: 6vw;
    transition:all 0.4s;
}
.previous-project-button:hover{
    left:50px;
    transition:all 0.4s;
}
.next-project-button:hover{
    right:50px;
    transition:all 0.4s;
}
.direction-button{
    font-size: 4rem;
    width:4.5rem;
    height:4rem;
    background-color: transparent;
    cursor:pointer;
    padding: 3rem;
    transition:all 0.4s;

}
.direction-button:hover{
    transform:scale(1.3);
    transition:all 0.4s;
}





/* ---------------------------------------------------- */
/* ----------- Project Details - Content ----------------------- */

.project-details-container{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    
}

.project-details-banner{
    background-color: white;
    /* height: 30vh; */
    aspect-ratio: 450/125;
    width:100%;
}



.project-details-banner-image{
    width: 100%;
    margin:0;
}

.project-details-title-cont{
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    max-height: 4rem;
    width: 52vw;
    position: fixed;
    /* border: 1px solid blue; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  
}

.project-details-title{
    font-size: 3rem;
    height: 100%;
    margin-left: 2rem; 
    /* position: fixed; */
}



.details-card-body{
    position: relative;
    top: 100px;
    height: fit-content;
    display: flex;  
    /* border: 1px solid purple; */

}

.project-details-scroll-content{
    position: relative;
    /* width: 100%; */
    height: fit-content;
    display: flex;  
    overflow-y: scroll;
   
    /* padding-right: calc(248px + 2rem);  */
    
}

.project-details-main-content{
    position: relative;
    width: 100%;
    font-weight: 500;
    height: fit-content;
    display: flex;  
    width: calc(100% - (228px + 2rem));
    /* border: 1px dashed grey;
    background-color: rgba(0, 0, 0, 0.053); */
         
}

.project-details-intro{
    width:fit-content;
}

.project-details-intro-text{
    line-height: 2em;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 2px dashed rgb(0, 0, 0);
    background-color: rgb(236, 236, 236,1); */
}



/* ------------------------------------------------------------- */
/* -----------------  Project Link Buttons ------------------------ */

.project-btns-container{
    height: fit-content;
    display:flex;
    align-items: flex-end;
    justify-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    /* border: 1px dashed green; */
    scroll-behavior:initial;
}


.project-btns-bg:hover{
    padding-right: 1em;
}

.project-btns-bg{
    /* border: 2px dashed blue; */
    margin-right: 2rem;
}

a{
    text-decoration: none;
}

.project-link-btn{
    height: 60px;
    width: 14rem;
    max-width: 100%;
    padding: 30px;
    margin:0;  
    border-radius: 20px;
    border:none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.492),
                0px 0.1px 6px 1px rgba(0, 0, 0, 0.109),
                inset 0px 0px 35px 1px rgba(0, 0, 0, 0.078);
     color: white;
     font-weight:600;
     display:flex;
     justify-content: center;
     font-size: 1.2em;
     align-items: center;
     align-content: center;
     text-align: center;
     text-justify: center;
     
}

.project-link-btn:hover{
    height: 62px;
    border:none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.612),
                0px 0.1px 6px 1px rgba(0, 0, 0, 0.267),
                0px 0.1px 10px 1px rgba(0, 0, 0, 0.267),
                inset 0px 0.1px 6px 50px rgba(0, 0, 0, 0.049);
    cursor: pointer;
}

.project-link-text{
    padding-left:0.5rem;
}
.project-link-icon{
    font-size: xx-large;
}

.btn-one{
    background: #d3d5e3;
    color:black;
}
/* .btn-one:hover{
   
} */

.btn-two{
    background: rgb(165,146,255);
    background: linear-gradient(6deg, rgba(165,146,255,0.7) 6%, rgba(155,219,255,0.7) 74%);

}

/* .btn-two:hover{
    

} */
/* --------------------------------------------------- */
/* ----------- mobile and tablet ------------ */

@media (max-width: 1400px) {
    .details-modal-outer{
        width: 65vw;
    }
    .inner-modal-contain{
        width: 63vw;
    }
    .exit-modal-button{
        top: 2vh;
        right:10vw;
    }
    .next-project-button{
        top: 45vh;
        right:4vw;
    }
    .previous-project-button{
        top: 45vh;
        left:4vw;
    }
}
   


/* --------------------------------- */
@media (max-width: 1200px) {
    .details-modal-outer{
        width: 72vw;
        /* height: 83vh;  */
    }
    .details-modal-inner{
        /* height: 79vh; */
    }
    .inner-modal-contain{
        width: 70vw;
    }
    
    .exit-modal-button{
        top: 1.2vh;
        right:7vw;
    }
      
    .next-project-button{
        top: 48vh;
        right:1.8vw;
    }
    .previous-project-button{
        top: 48vh;
        left:1.8vw;
    }
   
    .project-link-btn{
        height: 58px;
        max-width: 13rem;
        margin-bottom: 1.8rem;
        font-size: 1.1rem;   
    }
    .project-btns-bg{
        margin-right: 1.8rem;
    }
    .project-details-title-cont{
        margin-top: 1.8rem;
        margin-bottom: 1.8rem; 
    } 
    .project-details-title{
        margin-left: 1.8rem;
    }
    .project-details-main-content{ 
        width: calc(100% - (207px + 1.8rem));
    }
    .project-details-intro-text{
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }
}

/* --------------------------------- */
@media (max-width: 1100px) {
   
    .details-modal-outer{
        width: 77vw;
        /* height: 83vh;  */
    }
    .details-modal-inner{
        /* height:  calc(83vh - 3vw); */
    }
    .inner-modal-contain{
        width: 75vw;
    }
    
    .next-project-button{
        top: 50vh;
        right:0.8vw;
    }

    .previous-project-button{
        top: 50vh;
        left:0.8vw;
    }
    .project-btns-container{
        top:250px;
       
    }
    .project-btns-bg{
        margin-right: 1.7rem;
        
    }
    .project-details-title-cont{
        margin-top: 1.7rem;
        margin-bottom: 1.7rem; 
    } 
    .project-details-title{
        margin-left: 1.7rem;
        font-size: 2.8rem;
    }
    .project-details-main-content{ 
        width: calc(100% - (207px + 1.7rem));
    }

    .project-details-intro-text{
        margin-left: 1.7rem;
        margin-right: 1.7rem;
    }
}



/* -------------------------------- */
@media (max-width: 1000px) {
    .details-modal-outer{
        /* width: 70vw;
        height: 84vh; */
        /* align-items: flex-start;  */

    }
    .details-modal-inner{
        /* height: 78vh; */
        /* margin-top:2vw; */
    }
    .inner-modal-contain{
        /* width: 67vw; */
    }
    .exit-modal-button{
        top: 1.5vh;
        right:8vw;
    }
    .direction-button{
        padding-top: 4rem;
    }
    .direction-button:hover{
        transform:scale(1);
        text-shadow: #fdfdfd;
    }

    .next-project-button{
        top: 52vh;
        right:0vw;
        padding-left: 1rem;
        padding-right: 2rem;
    }
    .previous-project-button{
        top: 52vh;
        left:0vw;
        padding-right: 1rem;
        padding-left: 2rem;
    }

    .previous-project-button:hover{
        left:10px;
        transition:all 0.4s;
    }
    .next-project-button:hover{
        right:10px;
        transition:all 0.4s;
    }    
}

/* ------------------------------------ */
    @media (max-width: 900px) {
    .details-modal-outer{
        width: 77vw;
        /* height: 86vh; */

    }
    .details-modal-inner{
        height:  calc(100% - 4vw); 
    }
    .inner-modal-contain{
        width: 75vw;
    }
    .exit-modal-button{
        top: 1vh;
        right:5vw;
    }
    .next-project-button{
        top: 54vh;
    }
    .previous-project-button{
        top: 54vh;
    }
    .project-btns-container{
        
    }
    .project-btns-container{
        /* top:200px; */
        top: calc(16px + 21.4vw);
    }
    .project-btns-bg{
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }
    .project-link-btn{
        height: 58px;
        max-width: 13rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        
    }
    .project-details-banner{
        position:fixed;
        left: 11.5vw;
        top: 16px;
        width:77vw; 
    }
    .project-details-title-cont{
       top: calc(70px + 2rem + 15vh);
       margin-top: 1.5rem;
       margin-bottom: 1.5rem; 
    }
    .project-details-title{
        font-size: 2.6rem;
        height: 100%;
        margin-left: 1.5rem;
    }
    .details-card-body{
        top: calc(170px + 15vh);
        
    }
    .project-details-main-content{
        position: relative;
        /* top: 21vh; */
        /* width: 100%; */
        height: fit-content;
        display: flex;
        width: calc(100% - (208px + 1.5rem));
        /* top: calc(170px + 15vh); */
      
    }

    .project-details-scroll-content{
       height: calc((89vh - 3vw) - (170px + 15vh));

    }

    .project-details-intro{
       width: fit-content;

    }
    .project-details-intro-text{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        /* margin-top: 0; */
        position:relative;
    }
    }



/* ------------------------------------ */
@media (max-width: 800px) {
    .details-modal-outer{
        width: 80vw;
        /* height: 86vh; */

    }
    .details-modal-inner{
        height: calc(100% - 4vw); 
    }
    .inner-modal-contain{
        width: 78vw;
    }
    .exit-modal-button{
        top: 1vh;
        right:5vw;
    }
    .next-project-button{
        top: 54vh;
    }
    .previous-project-button{
        top: 54vh;
    }
    
    .project-btns-container{
        /* top:200px; */
        top: calc(16px + 22.1vw);
    }
    .project-btns-bg{
        margin-right: 1.4rem;
        margin-top: 1.4rem;
    }
    .project-link-btn{
        height: 58px;
        max-width: 13rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        
    }
    .project-details-banner{
        left: 10vw;
        width: 80vw; 
    }
    .project-details-title-cont{
       top: calc(16px + 25.1vw);
       margin-top: 1.4rem;
       margin-bottom: 1.4rem; 
    }
    .project-details-title{
        font-size: 2.6rem;
        height: 100%;
        margin-left: 1.4rem;
    }
    .details-card-body{
        top: calc(20.3vw + 2.4rem + 82px);
        
    }
    .project-details-main-content{
        position: relative;
        /* top: 21vh; */
        /* width: 100%; */
        height: fit-content;
        display: flex;
        width: calc(100% - (208px + 1.4rem));
        /* top: calc(170px + 15vh); */
      
    }

    .project-details-scroll-content{
       height: calc((89vh - 3vw) - (170px + 15vh));

    }

    .project-details-intro{
       width: fit-content;
    
     
    }
    .project-details-intro-text{
        margin-right: 1.4rem;
        margin-left: 1.4rem;
        position:relative;
    }
        
}

/* ---------------------------------- */
@media (max-width: 750px) {

    .exit-modal-button{
        top: 0.1vh;
        right:5vw;
    }
    .next-project-button{
        top: 54vh;
    }
    .previous-project-button{
        top: 54vh;
    }
    
    .project-btns-container{
        top: calc(16px + 22.1vw);
    }
    .project-btns-bg{
        margin-right: 1.2rem;
        margin-top: 1.2rem;
    }
    .project-link-btn{
        height: 58px;
        max-width: 13rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        
    }
    .project-details-banner{
        left: 10vw;
        width: 80vw; 
    }
    .project-details-title-cont{
       top: calc(16px + 25.1vw);
       margin-top: 1.2rem;
       margin-bottom: 1.2rem; 
    }
    .project-details-title{
        margin-left: 1.2rem;
    }
    .details-card-body{
        top: calc(20.3vw + 2.2rem + 82px);
        
    }
    .project-details-main-content{
        width: calc(100% - (208px + 1.2rem));

    }

    .project-details-scroll-content{
       height: calc((89vh - 3vw) - (170px + 15vh));
    }
    .project-details-intro-text{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
}
   

  

/* ------------------------------------ */
@media (max-width: 700px) {
    .details-modal-outer{
        width: 82vw;
        height: 89.5vh;
    }
    .details-modal-inner{
        height: 76.5vh;
        /* margin-bottom: 4vw; */
        justify-content:flex-start;
        align-content:flex-start;
        margin-bottom:12.5vh; 
    }

    .inner-modal-contain{
        width: 78vw;
    }
    .exit-modal-button{
        top: 0.2vh;
        right:3vw;
    }
    .next-project-button{
        top: 78vh;
        right: calc(5vw + 2rem);
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .previous-project-button{
        top: 78vh;
        left: calc(5vw + 2rem);
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    .project-btns-container{
        top: calc(16px + 22.8vw);
    }
    .project-btns-bg{
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .project-link-btn{
        height: 50px;
        max-width: 12rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        
    }
    .project-details-banner{
        left: 9vw;
        width: 82vw; 
    }
    .project-details-title-cont{
       top: calc(16px + 22.8vw);
       margin-top: 1rem;
       margin-bottom: 1rem; 
    }
    .project-details-title{
        font-size: 2.6rem;
        height: 100%;
        margin-left: 1.4rem;
    }
    .details-card-body{
        top: calc(20.9vw + 2rem + 75px);
        
    }
    .project-details-main-content{
        width: calc(100% - (208px + 1rem));
    
      
    }

    .project-details-scroll-content{
       height: calc((89vh - 4vw) - (170px + 15vh));

    }

    .project-details-intro-text{
        margin-right: 1rem;
        margin-left: 1rem;
        position:relative;
    }
     
}

/* ----------------------------------------------- */
@media (max-width: 600px) {
    .details-modal-outer{
        width: 92vw;
    }
    .inner-modal-contain{
        width: 88vw;
    }
    .exit-modal-button{
        top: 0.3vh;
        right:0.6vw;
    } 
    .project-details-banner{
        position:fixed;
        left: 4vw;
        top: 16px;
        width: 92vw; 
    }
     
    .next-project-button{
        top: 79vh;
        right: calc(5vw + 1rem);
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .previous-project-button{
        top: 79vh;
        left: calc(5vw + 1rem);
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    .project-btns-container{
        top: calc(16px + 25.4vw);
        flex-shrink: 2;
    }
    .project-btns-bg{
        margin:0;
       
    }
    .project-link-btn{
        height: 40px;
        max-width: 10rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        padding:20px;    
    }
   
    .project-details-title-cont{
       top: calc(16px + 25.4vw + 20px + 0.25rem);
       margin-top: 0;
       margin-bottom: 0; 
    }
    .project-details-title{
        font-size: 2rem;
        height: 100%;
        margin: 0;
    }
    .details-card-body{
        top: calc(25.4vw + 2rem + 75px);
        
    }
    .project-details-main-content{
        width: 100%;
    }

    .project-details-scroll-content{
       height: calc((89vh - 4vw) - (170px + 15vh));

    }

    .project-details-intro-text{
        margin: 0;
        position:relative;
    }
}

/* ------------------------------------------------------------------------------- */
/* iphone SE */
@media(width:375px){
@media (height:667px){
    .details-modal-outer{
        height: 88vh;
    }
    .inner-modal-contain{
        height: 77vh;
    }
    .details-modal-inner{
        justify-content:flex-start;
        align-content:flex-start;
        margin-bottom:11vh; 
    }

    .direction-button{
        font-size: 2.5rem;
    }
    .next-project-button{
        top: 79vh;
        right: 2vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .previous-project-button{
        top: 79vh;
        left: 2vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .previous-project-button:hover{
        left:0px;
    }
    .next-project-button:hover{
        right:0px;
    }
    .project-btns-container{
        top: 116px;
        height:fit-content;
    }
    .project-btns-bg{
        margin:0;
       
    }
    .project-link-btn{
        height: 40px;
        max-width: 9rem;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        padding:20px;    
    }
    .project-details-title{
        font-size: 1.8rem;
    
    }
    .project-details-title-cont{
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
}
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ */

@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}


/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}


/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}

/* ----------------------------------------------------------------------------- */
@media(width:375px){
    @media (height:667px){

    }
}